/config/master.key
/config/hue.json
/.env*
!/.env.example

/.git/
/log/*
/tmp/*
/storage/*
/db/*.sqlite3
/db/*.sqlite3-*
/node_modules/
/public/assets
/coverage/
.DS_Store

/data/
/design/
/docs/
/test/
/README.md
